@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3"></div>
        <canvas id="myChart"></canvas>
    </div>
    @section scripts
    {
        <script>
            var ctx = document.getElementById("myChart");

            var userstats;

            $.getJSON('/Stats', function (data) {
                console.log(data[0]);
                console.log(data[1]);

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data[0],
                        datasets: [{
                            label: '# of Votes',
                            data: data[1],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });
           
        </script>        
    }